/****************************************************************************


teefunne.rc

produced by Borland Resource Workshop


*****************************************************************************/

TFUNNELSERIES BITMAP LOADONCALL MOVEABLE DISCARDABLE 
{
 '42 4D 96 01 00 00 00 00 00 00 76 00 00 00 28 00'
 '00 00 18 00 00 00 18 00 00 00 01 00 04 00 00 00'
 '00 00 20 01 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 80 00 00 80'
 '00 00 00 80 80 00 80 00 00 00 80 00 80 00 80 80'
 '00 00 80 80 80 00 C0 C0 C0 00 00 00 FF 00 00 FF'
 '00 00 00 FF FF 00 FF 00 00 00 FF 00 FF 00 FF FF'
 '00 00 FF FF FF 00 FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF 00 00 FF FF FF FF FF FF FF'
 'FF FF FF 0B BB 00 00 FF FF FF FF FF FF FF FF 0B'
 'BB 09 99 00 00 FF FF FF FF FF FF 0B BB 09 99 02'
 '22 00 00 FF FF FF FF 0B BB 09 99 02 22 0B BB 00'
 '00 FF FF 0B BB 09 99 02 22 0B BB 02 22 0F FF 0B'
 'BB 09 99 02 22 0B BB 02 22 0F FF 0B BB 09 99 02'
 '22 0B BB 02 22 0F FF 0B BB 09 99 02 22 0B BB 02'
 '22 0F FF 0B BB 0F FF 02 22 0B BB 02 22 0F FF 0B'
 'BB 0F FF 02 22 0B BB 02 22 0F FF 0B BB 0F FF 02'
 '22 0B BB 00 00 FF FF 0F FF 0F FF 02 22 00 00 FF'
 'FF FF FF 0F FF 0F FF 00 00 FF FF FF FF FF FF 0F'
 'FF 00 00 FF FF FF FF FF FF FF FF 00 00 FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF FF'
 'FF FF FF FF FF FF'
}
